@CHARSET "UTF-8";

body {
    background-color: rgb(187, 187, 187) !important;
    text-shadow: none !important;
}
input[type=number] {
    text-align: right;
}
.form-control-label {
    width: 100%;
}
.alert {
    margin-bottom: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.form-group {
    margin-bottom: 0.4rem;
}