@CHARSET "UTF-8";

body {
    font-size: 11px;
    text-shadow: none !important;
}
a.twitterLogin,
a.fbLogin,
.googleLogin {
    display: block;
    margin-bottom: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #FFF;
    width: 100%;
    font-size: 14px;
    border-radius: 2px;
}
a.fbLogin {
    background: #537CBE;
}
a.twitterLogin {
    background: #77CDF0;
}
.card {
    border-radius: 0;
}
.media-user-info,
.nav-menu {
    border-bottom: 1px solid rgba(0,0,0,.125);
}
.media-user-info .media-body {
    font-size: 11px;
}
a:hover, a:focus {
    text-decoration: none;
}
h5 {
    font-size: 15px;
}
.feedbackStats > .positive {
    color: #83bf17;
}
.feedbackStats > .negative {
    color: #7f7f7f;
}
.feedbackStats > .neutral {
    color: #d14d28;
}
.lead {
    font-size: 14px;
}
.DateTime {
    color: #F4804D !important;
    font-size: 11px;
}
.miniMe {
    padding: 0;
    position: relative;
    bottom: 15px;
    left: 8px;
    z-index: 10;
}