@CHARSET "UTF-8";

body {
    color: #4b4b4b;
    font-family: 'Segoe UI', Tahoma, sans-serif;
    margin: 0;
}
a.twitterLogin,
a.fbLogin,
.googleLogin {
    display: block;
    margin-bottom: 5px;
    color: #FFF;
    width: 100%;
    font-size: 14px;
    border-radius: 2px;
    text-shadow: none;
}
a.fbLogin {
    background: #537CBE;
}
a.twitterLogin {
    background: #77CDF0;
}
.popup {
    width: 450px;
    text-shadow: none !important;
}
.pretty .state label:after, .pretty .state label:before {
    background-color: whitesmoke;
}
img.rounded:hover {
    transform: scale(1.1);
}

.dark-mode {
    color: #C4C3C2;
}
.dark-mode .bg-white {
    background-color: #393736;
}

.dark-mode .border-grey {
    border-color: #393736;
}
.dark-mode .border-grey-light {
    border-color: #2F2C2B;
}

.dark-mode .bg-grey-light {
    background-color: #3B3A39;
}
.dark-mode .bg-grey-lighter {
    background-color: #504E4D;
}
.dark-mode .bg-grey-lightest {
    background-color: #5F5E5E;
}

.dark-mode .text-black {
    color: #FAF9F8;
}
.dark-mode .text-grey-darker {
    color: #C4C3C2;
}
.dark-mode .bg-yellow-lightest .text-grey-darker {
    color: #606f7b;
}

.dark-mode .hover\:bg-grey-lightest:hover {
    background-color: #5F5E5E;
}
.dark-mode .hover\:text-grey-darkest:hover {
    color: #A3A2A1;

}

.dark-mode input[type="number"],
.dark-mode input[type="text"],
.dark-mode input[type="password"],
.dark-mode textarea {
    background-color : #ABAAAA;
}