@CHARSET "UTF-8";

body {
    color: #4b4b4b;
    text-shadow: 1px 1px 0 white !important;
    font-family: 'Segoe UI', Tahoma, sans-serif;
    margin: 0;
}
a.twitterLogin,
a.fbLogin,
.googleLogin {
    display: block;
    margin-bottom: 5px;
    color: #FFF;
    width: 100%;
    font-size: 14px;
    border-radius: 2px;
    text-shadow: none;
}
a.fbLogin {
    background: #537CBE;
}
a.twitterLogin {
    background: #77CDF0;
}
.popup {
    width: 450px;
    text-shadow: none !important;
}
.pretty .state label:after, .pretty .state label:before {
    background-color: whitesmoke;
}