body {
    margin-top: 25px;
    background-color: rgb(187, 187, 187) !important;
}
.active {
    background-color: #337ab7 !important;
    text-shadow: none;
}
.active span {
    color: #fff !important;
}
div.alert-success,
div.alert-danger {
    margin-top: 10px;
    margin-bottom: 0;
}
input[type=number] {
    text-align: right;
}