section.login {
    margin: 5px;
}
.callout {
    margin: 10px 5px;
    padding: 10px 30px 10px 15px;
    border-left: 5px solid #eee;
}
.callout h4, .callout p {
    margin: 0px;
}
.callout-danger h4 {
    color: #B94A48;
}
.callout-danger {
    background-color: #fdf7f7;
    border-color: #d9534f;
}
.nav-pills > li > a {
    border-radius: 0px;
    font-weight: bold;
    color: #FFF;
    padding: 10px;
}
.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
    background-color: #ed874b;
}
.nav-pills > li > a:hover {
    color: #333;
}
.col-xs-12 {
    padding-left: 2px;
    padding-right: 2px;
}
.tab-home,
.tab-inbox,
.tab-alerts,
.tab-subscriptions {
    padding: 5px;
    background-color: #F0F0F0 !important;
}
.tab-footer {
    background-color: #4c4c4c;
    padding: 5px;
}
.tab-footer a {
    color: #FFF !important;
}
ul.links {
    list-style-type: none;
    padding-left: 10px;
}
.user .listItem,
.discussionListItem {
    border-bottom: 1px solid #CCC;
    margin-bottom: 10px;
}
.discussionListItem {
    padding: 10px;
}
.user ol.Unread,
.discussionListItems .unread {
    background-color: #F7ECB5;
}
.user .listItem:last-child,
.discussionListItem:last-child {
    border-bottom: none;
}
.user .listItemText {
    margin-left: 57px;
    margin-bottom: 10px;
}
.user .discussionListItem .avatar img {
    width: 36px;
    height: 36px;
}
.discussionListItem .titleText {
    padding-left: 45px;
}
.discussionListItem .lastPostInfo {
    font-size: 11px;
    text-align: right;
    padding-top: 5px;
}
.lastPostInfo .dateTime {
    color: rgb(150,150,150);
}
#AccountMenu {
    width: 100% !important;
    display: block;
    overflow: visible;
    position: relative;
    border: none;
    border-radius: 0px;
    box-shadow: 0px;
}
#AccountMenu .secondaryContent {
    border-radius: 0px;
}
#AccountMenu .secondaryContent .blockLinksList {
    width: 50%;
}
#AccountMenu .menuColumns a, #AccountMenu .menuColumns label {
    width: auto !important;
}
#AccountMenu .menuColumns label {
    margin: 0px;
    padding: 0px;
    padding-left: 10px;
    font-weight: normal;
}
.sectionFooter {
    padding: 5px !important;
}
#AccountMenu .statusPoster .submitUnit {
    margin-top: 0px !important;
}
#AccountMenu .statusPoster textarea {
    width: 100% !important;
    height: auto !important;
}
#AccountMenu .statusPoster .submitUnit {
    display: none;
}
.none .callout {
    margin: 0px;
}
h3.title {
    font-weight: bold;
}
.secondaryContent a,
.discussionListItems a,
.nav-stacked > li > a {
    color: #176093 !important;
}
.tab-inbox a.avatar,
.tab-alerts a.avatar,
.tab-subscriptions a.avatar {
    float: left;
}
.nav-stacked > li > a:hover {
    background-color: #CCC !important;
    color: #FFF !important;
}
.blockLinksList a, .blockLinksList label {
    color: rgb(92, 92, 92) !important;
}
.secondRow .muted a {
    color: rgb(150,150,150) !important;
}
div.muted {
    font-size: 11px;
    padding-top: 5px;
}
.DateTime {
    color: #F4804D !important;
    font-size: 11px;
}
.primaryContent {
    background-color: rgb(236, 236, 236) !important;
    background-image: none !important;
}