@CHARSET "UTF-8";

body {
    font-size: 11px;
    color: #4b4b4b;
    text-shadow: 1px 1px 0 white !important;
    font-family: 'Segoe UI', Tahoma, sans-serif;
    background-color: #F6F6F6 !important;
    max-height: 675px;
    margin: 0;
    min-width: 375px;
}
.loading-overlay {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background: rgba(204, 204, 204, .8);
    z-index: 99;
    text-align: center;
}
.loading-box {
    min-width: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -100px 0 0 -100px;
}
.card-img-top {
    width: auto;
}
.border-radius-0 {
    border-radius: 0 !important;
}
.bl-success {
    border-left: 5px solid #155724 !important;
}
.bl-danger {
    border-left: 5px solid #721c24 !important;
}
.bl-info {
    border-left: 5px solid #0c5460 !important;
}